<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel | The Unofficiel Site for Challenge</title>
    <link rel="stylesheet" href="./assets/style.css">
    <link  rel="icon" type="image/x-icon" href="./images/favicon-local.ico" />
<link  rel="shortcut icon" type="image/x-icon" href="./images/favicon-local.ico" />
</head>
<body id="page-comics">
    <div id="header">
        <svg width="130" height="52" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><rect fill="#EC1D24" width="100%" height="100%"></rect><path fill="#FEFEFE" d="M126.222 40.059v7.906H111.58V4h7.885v36.059h6.757zm-62.564-14.5c-.61.294-1.248.44-1.87.442v-14.14h.04c.622-.005 5.264.184 5.264 6.993 0 3.559-1.58 5.804-3.434 6.705zM40.55 34.24l2.183-18.799 2.265 18.799H40.55zm69.655-22.215V4.007H87.879l-3.675 26.779-3.63-26.78h-8.052l.901 7.15c-.928-1.832-4.224-7.15-11.48-7.15-.047-.002-8.06 0-8.06 0l-.031 39.032-5.868-39.031-10.545-.005-6.072 40.44.002-40.435H21.278L17.64 26.724 14.096 4.006H4v43.966h7.95V26.78l3.618 21.192h4.226l3.565-21.192v21.192h15.327l.928-6.762h6.17l.927 6.762 15.047.008h.01v-.008h.02V33.702l1.845-.27 3.817 14.55h7.784l-.002-.01h.022l-5.011-17.048c2.538-1.88 5.406-6.644 4.643-11.203v-.002C74.894 19.777 79.615 48 79.615 48l9.256-.027 6.327-39.85v39.85h15.007v-7.908h-7.124v-10.08h7.124v-8.03h-7.124v-9.931h7.124z"></path><path fill="#EC1D24" d="M0 0h30v52H0z"></path><path fill="#FEFEFE" d="M31.5 48V4H21.291l-3.64 22.735L14.102 4H4v44h8V26.792L15.577 48h4.229l3.568-21.208V48z"></path></svg>
    </div>
    <ul id="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/news">News</a></li>
        <li class="actived"><a href="/comics">Comics</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/games">Games</a></li>
    </ul>
    <div id="slide"></div>

    <div class="container">
        <div class="advertisement">
            <img src="./images/home/banner.jpg">
        </div>
   
        <div class="sub-container">
            <h2 class="inlineModuleHeader__header">Comics Marvel</h2>

            <div class="block-items">
                <div class="item">
                    <img src="./images/comics/picture_1.jpg" alt="Comic 1">
                    <p>Amazing Spider-Man Hunted Infinity Comic</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_2.jpg" alt="Comic 2">
                    <p>Astonishing Iceman</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_3.jpg" alt="Comic 3">
                    <p>Avengers United Infinity</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_4.jpg" alt="Comic 4">
                    <p>Avengers</p>
                </div>
            </div>

            <div class="block-items">
                <div class="item">
                    <img src="./images/comics/picture_5.jpg" alt="Comic 5">
                    <p>Avengers Inc</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_6.jpg" alt="Comic 6">
                    <p>Blade</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_7.jpg" alt="Comic 7">
                    <p>CAPTAIN MARVEL ASSAULT ON EDEN</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_8.jpg" alt="Comic 8">
                    <p>Capwolf & the Howling Commandos</p>
                </div>
            </div>

            <div class="block-items">
                <div class="item">
                    <img src="./images/comics/picture_9.jpg" alt="Comic 9">
                    <p>crypt of shadows</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_10.jpg" alt="Comic 10">
                    <p>DAREDEVIL 183 FACSIMILE EDITION</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_11.jpg" alt="Comic 11">
                    <p>Guardians of the Galaxy</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_12.jpg" alt="Comic 12">
                    <p>Ghost Rider</p>
                </div>
            </div>

            <div class="block-items">
                <div class="item">
                    <img src="./images/comics/picture_13.jpg" alt="Comic 13">
                    <p>Incredible Hulk</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_14.jpg" alt="Comic 14">
                    <p>Its Jeff Infinity Comic</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_15.jpg" alt="Comic 15">
                    <p>Love Unlimited Infinity Comic</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_16.jpg" alt="Comic 16">
                    <p>Love Unlimited Infinity Comic</p>
                </div>
            </div>
            
            <div class="advertisement">
                <img src="./images/banner_small.jpg">
            </div>

            <div class="block-items">
                <div class="item">
                    <img src="./images/comics/picture_17.jpg" alt="Comic 17">
                    <p>Magneto</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_18.jpg" alt="Comic 18">
                    <p>Marvel's Voices Infinity Comic</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_19.jpg" alt="Comic 19">
                    <p>Moon Knight City of the Dead</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_20.jpg" alt="Comic 20">
                    <p>MOON KNIGHT VS. WEREWOLF BY NIGHT MARVEL TALES 1</p>
                </div>
            </div>
          
            <div class="block-items">
                <div class="item">
                    <img src="./images/comics/picture_21.jpg" alt="Comic 21">
                    <p>Night Shade</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_22.jpg" alt="Comic 22">
                    <p>Scarlet Witch</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_23.jpg" alt="Comic 23">
                    <p>Sensational She-Hulk</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_24.jpg" alt="Comic 24">
                    <p>Silver Surfer Rebirth Legacy</p>
                </div>
            </div>

            <div class="block-items">
                <div class="item">
                    <img src="./images/comics/picture_25.jpg" alt="Comic 25">
                    <p>Spider-Man India</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_26.jpg" alt="Comic 26">
                    <p>Spider-Man Unlimited Infinity Comic</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_27.jpg" alt="Comic 27">
                    <p>Spine-Tingling Spider-Man</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_28.jpg" alt="Comic 28">
                    <p>Star Wars Dark Droids</p>
                </div>
            </div>

            <div class="block-items">
                <div class="item">
                    <img src="./images/comics/picture_29.jpg" alt="Comic 29">
                    <p>Star Wars The Mandalorian Season 2</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_30.jpg" alt="Comic 30">
                    <p>Star Wars Obi-Wan Kenobi</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_31.jpg" alt="Comic 31">
                    <p>SUPERIOR SPIDER-MAN RETURNS</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_32.jpg" alt="Comic 32">
                    <p>The Amazing Spider-Man</p>
                </div>
            </div>

            <div class="block-items">
                <div class="item">
                    <img src="./images/comics/picture_33.jpg" alt="Comic 33">
                    <p>Venom</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_34.jpg" alt="Comic 34">
                    <p>Wolverine</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_35.jpg" alt="Comic 35">
                    <p>X-Men Unlimited Infinity Comic</p>
                </div>
                <div class="item">
                    <img src="./images/comics/picture_36.jpg" alt="Comic 36">
                    <p>X-Men_Red</p>
                </div>
            </div>
        </div>
    </div>

    <div id="pre-footer">  
        <div class="container">
            <div class="block-items">
                <div class="item image-pre-footer">&nbsp;</div>
                <span class="item text-pre-footer">
                    Marvel Unlimited<br />
                    <span class="text-footer">
                        Ce site est basé sur Marvel, en aucun cas le challenge proposé est lié à Marvel,
                        L'interface Marvel a été prise uniquement pour l'aspect esthétique.
                    </span>
                </span>   
            </div>         
        </div>
    </div>               
</body>
</html>