<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel | The Unofficiel Site for Challenge</title>
    <link rel="stylesheet" href="./assets/style.css">
    <link  rel="icon" type="image/x-icon" href="./images/favicon-local.ico" />
<link  rel="shortcut icon" type="image/x-icon" href="./images/favicon-local.ico" />
</head>
<body id="page-movies">
    <div id="header">
        <svg width="130" height="52" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><rect fill="#EC1D24" width="100%" height="100%"></rect><path fill="#FEFEFE" d="M126.222 40.059v7.906H111.58V4h7.885v36.059h6.757zm-62.564-14.5c-.61.294-1.248.44-1.87.442v-14.14h.04c.622-.005 5.264.184 5.264 6.993 0 3.559-1.58 5.804-3.434 6.705zM40.55 34.24l2.183-18.799 2.265 18.799H40.55zm69.655-22.215V4.007H87.879l-3.675 26.779-3.63-26.78h-8.052l.901 7.15c-.928-1.832-4.224-7.15-11.48-7.15-.047-.002-8.06 0-8.06 0l-.031 39.032-5.868-39.031-10.545-.005-6.072 40.44.002-40.435H21.278L17.64 26.724 14.096 4.006H4v43.966h7.95V26.78l3.618 21.192h4.226l3.565-21.192v21.192h15.327l.928-6.762h6.17l.927 6.762 15.047.008h.01v-.008h.02V33.702l1.845-.27 3.817 14.55h7.784l-.002-.01h.022l-5.011-17.048c2.538-1.88 5.406-6.644 4.643-11.203v-.002C74.894 19.777 79.615 48 79.615 48l9.256-.027 6.327-39.85v39.85h15.007v-7.908h-7.124v-10.08h7.124v-8.03h-7.124v-9.931h7.124z"></path><path fill="#EC1D24" d="M0 0h30v52H0z"></path><path fill="#FEFEFE" d="M31.5 48V4H21.291l-3.64 22.735L14.102 4H4v44h8V26.792L15.577 48h4.229l3.568-21.208V48z"></path></svg>
    </div>
    <ul id="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/comics">Comics</a></li>
        <li class="actived"><a href="/movies">Movies</a></li>
        <li><a href="/games">Games</a></li>
    </ul>
    <div id="slide"></div>

    <div class="container">
        <div class="advertisement">
            <img src="./images/home/banner.jpg">
        </div>
   
        <div class="sub-container">
            <h2 class="inlineModuleHeader__header">Movies Marvel</h2>

            <div class="block-items">
                <div class="item">
                    <img src="./images/movies/picture_1.jpg" alt="Movie 1">
                    <p>Ant-Man and The Wasp Quantumania</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_2.jpg" alt="Movie 2">
                    <p>Ant-Man and The Wasp</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_3.jpg" alt="Movie 3">
                    <p>Ant-Man</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_4.jpg" alt="Movie 4">
                    <p>Avengers Age of Ultron</p>
                </div>
            </div>

            <div class="block-items">
                <div class="item">
                    <img src="./images/movies/picture_5.jpg" alt="Movie 5">
                    <p>Avengers Endgame</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_6.jpg" alt="Movie 6">
                    <p>Avengers Infinity War</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_7.jpg" alt="Movie 7">
                    <p>Avengers Secret Wars</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_8.jpg" alt="Movie 8">
                    <p>Avengers The Kang Dynasty</p>
                </div>
            </div>

            <div class="block-items">
                <div class="item">
                    <img src="./images/movies/picture_9.jpg" alt="Movie 9">
                    <p>Black Panther Wakanda Forever</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_10.jpg" alt="Movie 10">
                    <p>Black Panther</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_11.jpg" alt="Movie 11">
                    <p>Black Widow</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_12.jpg" alt="Movie 12">
                    <p>Blade</p>
                </div>
            </div>

            <div class="block-items">
                <div class="item">
                    <img src="./images/movies/picture_13.jpg" alt="Movie 13">
                    <p>Captain America Brave New World</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_14.jpg" alt="Movie 14">
                    <p>Captain America Civil War</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_15.jpg" alt="Movie 15">
                    <p>Thor Love And Thunder</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_16.jpg" alt="Movie 16">
                    <p>Captain America The First Avenger</p>
                </div>
            </div>
            
            <div class="block-items">
                <div class="item">
                    <img src="./images/movies/picture_17.jpg" alt="Movie 17">
                    <p>Captain America The Winter Soldier</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_18.jpg" alt="Movie 18">
                    <p>Captain Marvel</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_19.jpg" alt="Movie 19">
                    <p>Doctor Strange in the Multiverse of Madness</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_20.jpg" alt="Movie 20">
                    <p>Doctor Strange</p>
                </div>
            </div>

            <div class="advertisement">
                <img src="./images/banner_small.jpg">
            </div>
          
            <div class="block-items">
                <div class="item">
                    <img src="./images/movies/picture_21.jpg" alt="Movie 21">
                    <p>Eternals</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_22.jpg" alt="Movie 22">
                    <p>Fantastic Four</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_23.jpg" alt="Movie 23">
                    <p>Guardians of the Galaxy Vol. 2</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_24.jpg" alt="Movie 24">
                    <p>Guardians of the Galaxy Vol. 3</p>
                </div>
            </div>

            <div class="block-items">
                <div class="item">
                    <img src="./images/movies/picture_25.jpg" alt="Movie 25">
                    <p>Guardians of the Galaxy</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_28.jpg" alt="Movie 28">
                    <p>Iron Man</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_26.jpg" alt="Movie 26">
                    <p>Iron Man 2</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_27.jpg" alt="Movie 27">
                    <p>Iron Man 3</p>
                </div>
            </div>

            <div class="block-items">
                <div class="item">
                    <img src="./images/movies/picture_29.jpg" alt="Movie 29">
                    <p>Shang-Chi and The Legend of The Ten Rings</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_30.jpg" alt="Movie 30">
                    <p>Spider-Man Far From Home</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_31.jpg" alt="Movie 31">
                    <p>Spider-Man Homecoming</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_32.jpg" alt="Movie 32">
                    <p>Spider-Man No Way Home</p>
                </div>
            </div>

            <div class="block-items">
                <div class="item">
                    <img src="./images/movies/picture_33.jpg" alt="Movie 33">
                    <p>The Avengers</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_34.jpg" alt="Movie 34">
                    <p>The Incredible Hulk</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_35.jpg" alt="Movie 35">
                    <p>The Marvels</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_36.jpg" alt="Movie 36">
                    <p>Thor Ragnarok</p>
                </div>
            </div>


            <div class="block-items">
                <div class="item">
                    <img src="./images/movies/picture_37.jpg" alt="Movie 37">
                    <p>Thor The Dark World</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_38.jpg" alt="Movie 38">
                    <p>Thor</p>
                </div>
                <div class="item">
                    <img src="./images/movies/picture_39.jpg" alt="Movie 39">
                    <p>Thunderbolts</p>
                </div>
            </div>
        </div>
    </div>

    <div id="pre-footer">  
        <div class="container">
            <div class="block-items">
                <div class="item image-pre-footer">&nbsp;</div>
                <span class="item text-pre-footer">
                    Marvel Unlimited<br />
                    <span class="text-footer">
                        Ce site est basé sur Marvel, en aucun cas le challenge proposé est lié à Marvel,
                        L'interface Marvel a été prise uniquement pour l'aspect esthétique.
                    </span>
                </span>   
            </div>         
        </div>
    </div>             
</body>
</html>